* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  line-height: 1;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: white;
  color: black;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 975px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding: 6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header .header__logo {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -0.045em;
  line-height: 3rem;
}

.header .header__about {
  width: 100%;
  max-width: 440px;
}

.header .header__title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.75rem;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.header .header__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.75rem;
}

.gallery .gallery__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 3rem 4rem;
}

.gallery .gallery__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.gallery .gallery__item:nth-child(3n - 1) {
  margin-top: 5rem;
}

.gallery .gallery__member {
  margin-right: 10px;
}

.gallery .gallery__name {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-top: 1rem;
}

.gallery .gallery__job {
  font-family: 'PT Serif', serif;
  font-size: 12px;
  font-weight: 00;
  text-transform: uppercase;
  writing-mode: vertical-rl;
}

.copyright {
  margin-top: 7rem;
  padding-bottom: 2rem;
  text-align: center;
}

.copyright .copyright__text {
  font-weight: 600;
  color: #a9a9a9;
  font-size: 14px;
  line-height: 1.5;
}

.copyright .copyright__dev-challenges {
  text-decoration: none;
  color: #eb412e;
  transition: color 0.2s ease-in-out;
}

.copyright .copyright__dev-challenges:hover {
  color: #bd2d1d;
}

@media screen and (max-width: 992px) {
  .header {
    padding: 3rem 0;
    flex-direction: column;
  }

  .header .header__logo {
    flex: 1;
    margin-bottom: 2rem;
  }

  .header .header__about {
    max-width: 640px;
  }
}

@media screen and (max-width: 769px) {
  .gallery .gallery__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem 2rem;
  }

  .gallery .gallery__member {
    margin-right: 6px;
  }

  .gallery .gallery__item:nth-child(3n - 1) {
    margin-top: 0;
  }

  .gallery .gallery__item:nth-child(2n) {
    margin-top: 3.5rem;
  }

  .gallery .gallery__name {
    font-size: 14px;
    margin-top: 0.75rem;
  }

  .copyright {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 576px) {
  .header .header__description {
    font-size: 14px;
  }
}
