*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color-background: #fafafa;
  --color-black: #000000;
  --color-text-primary: #333333;
  --color-text-light: #bdbdbd;
  --color-gray: #828282;
  --color-darkgray: #4f4f4f;
  --color-accent: #f2994a;
  --font-heading: 'Playfair Display', serif;
  --font-text: 'Montserrat', sans-serif;
  font-size: 10px;
}

html {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  height: 100vh;
}

*,
body,
input {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  font-weight: 700;
}

img {
  max-width: 100%;
}

em,
strong {
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

.bold-700 {
  font-weight: 700;
}

.italic-500 {
  font-weight: 500;
  font-style: italic;
}

.container {
  width: 100%;
  max-width: 998px;
  padding: 0 1.4rem;
  margin: 0 auto;
}

.hero {
  margin-top: 3.2rem;
  margin-bottom: 2.4rem;
}

.hero .hero__title {
  font-size: 2.4rem;
  color: var(--color-black);
}

.hero .hero__about {
  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
  line-height: 1.4rem;
  color: var(--color-darkgray);
  padding-left: 2.6rem;
  margin: 1.2rem 0 2rem;
  position: relative;
}

.hero .hero__about::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 1.4rem;
  height: 0.9rem;
  background-image: url(../assets/6dots.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100%;
}

.hero .hero__recipe-img {
  border-radius: 1.2rem;
}

.additional-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 2.4rem;
}

.additional-info .additional-info__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.additional-info .additional-info__group--featured {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1/1/2/4;
}

.additional-info .additional-info__group--featured .additional-info__icon,
.additional-info .additional-info__group--featured .additional-info__text {
  color: var(--color-accent);
}

.additional-info .additional-info__icon {
  font-size: 1.4rem;
  margin-right: 0.6rem;
  color: var(--color-darkgray);
}

.additional-info .additional-info__title {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1;
  color: var(--color-text-light);
}

.additional-info .additional-info__text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;
}

.recipe .recipe__section-title {
  font-size: 1.8rem;
  margin-top: 3.2rem;
  margin-bottom: 1.4rem;
}

.recipe .recipe__prep + .recipe__prep {
  margin-top: 3.2rem;
}

.recipe .recipe__prep .recipe__prep-name {
  font-weight: 400;
  font-style: italic;
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.recipe .recipe__prep .recipe__prep-ingredient {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
}

.recipe .recipe__prep .recipe__prep-ingredient + .recipe__prep-ingredient {
  margin-top: 0.8rem;
}

.recipe .recipe__prep .recipe__prep-ingredient .recipe__prep-checkbox {
  margin-right: 0.8rem;
  margin-top: 0.3rem;
  width: 1.8rem;
  height: 1.8rem;
}

.recipe .recipe__prep .recipe__prep-ingredient .recipe__prep-label {
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.recipe .recipe__steps-list {
  counter-reset: custom-counter;
  padding-left: 3.8rem;
}

.recipe .recipe__steps-list .recipe__step-text {
  counter-increment: custom-counter;
  font-size: 1.4rem;
  line-height: 2rem;
  position: relative;
}

.recipe .recipe__steps-list .recipe__step-text + .recipe__step-text {
  margin-top: 2.5rem;
}

.recipe .recipe__steps-list .recipe__step-text::before {
  content: counter(custom-counter);
  position: absolute;
  top: 0;
  left: -3.8rem;
  min-width: 2.8rem;
  min-height: 2.8rem;
  padding-top: 0.1rem;
  background-color: var(--color-accent);
  color: var(--color-background);
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 0.6rem;
  text-align: center;
  vertical-align: middle;
}

.recipe .recipe__source {
  font-style: italic;
  font-size: 1.2rem;
  color: var(--color-text-light);
  margin-top: 2.6rem;
}

.copyright {
  padding-bottom: 2rem;
  text-align: center;
  margin-top: 10rem;
}

.copyright .copyright__text,
.copyright .copyright__dev-challenges {
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--color-text-light);
}

.copyright .copyright__dev-challenges {
  text-decoration: none;
  color: #eb412e;
}

@media only screen and (min-width: 768px) {
  .hero .hero__title {
    font-size: 3.6rem;
  }
  .hero .hero__about {
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 3.6rem;
    max-width: 62rem;
  }
  .additional-info {
    gap: 1.6rem;
  }
  .additional-info .additional-info__group {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .additional-info .additional-info__icon {
    font-size: 2.4rem;
    margin-right: 1.4rem;
  }
  .additional-info .additional-info__title {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .additional-info .additional-info__text {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  .recipe .recipe__section-title {
    font-size: 2.4rem;
    margin: 4rem 0 2.4rem;
  }
  .recipe .recipe__prep .recipe__prep-name {
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
  }
  .recipe .recipe__prep .recipe__prep-ingredient + .recipe__prep-ingredient {
    margin-top: 1.2rem;
  }
  .recipe .recipe__prep .recipe__prep-ingredient .recipe__prep-checkbox {
    width: 2.1rem;
    height: 2.1rem;
  }
  .recipe .recipe__prep .recipe__prep-ingredient .recipe__prep-label {
    font-size: 1.6rem;
  }
  .recipe .recipe__steps-list {
    padding-left: 5.2rem;
  }
  .recipe .recipe__steps-list .recipe__step-text {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .recipe .recipe__steps-list .recipe__step-text + .recipe__step-text {
    margin-top: 3.2rem;
  }
  .recipe .recipe__steps-list .recipe__step-text::before {
    left: -5.2rem;
    font-size: 2.4rem;
    width: 3.6rem;
    height: 3.6rem;
  }
  .recipe .recipe__source {
    font-size: 1.6rem;
    margin-top: 5.2rem;
  }
  .copyright .copyright__text,
  .copyright .copyright__dev-challenges {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 836px) {
  .hero {
    margin-top: 5.2rem;
    margin-bottom: 4.8rem;
  }
  .hero .hero__title {
    font-size: 4.8rem;
  }
  .main-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(50rem, 65rem) auto;
        grid-template-columns: minmax(50rem, 65rem) auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .additional-info {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
    margin: 0;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    gap: 4.2rem;
    padding: 5rem 5rem 5rem 4rem;
    border-radius: 1.2rem;
    -webkit-box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
  }
  .additional-info .additional-info__group--featured {
    grid-area: unset;
  }
  .recipe .recipe__ingredients .recipe__section-title {
    margin-top: 0;
  }
}
/*# sourceMappingURL=index.css.map */